@using MvcStok.Models.Entity;
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@*Birinci ActionResult'ın İsmi İkinci Action Result'ın bağlı olduğu controller,
    Üçüncüsü ise Hangi Metotla Çalışacağını Belirlemek için Yazılır.*@
@using (Html.BeginForm("Index", "Musteriler", FormMethod.Get))
{
    <p>
        <b> Aranacak Müşteri Adı: </b> @Html.TextBox("p")
        <input class="btn btn-info" type="submit" value="ARA" />
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ AD</th>
        <th>MÜŞTERİ SOYAD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>ALERT</th>
    </tr>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <th>@musteri.MUSTERIID</th>
                <td>@musteri.MUSTERIAD</td>
                <td>@musteri.MUSTERISOYAD</td>
                <td><a href="/Musteriler/Sil/@musteri.MUSTERIID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Musteriler/MusteriGetir/@musteri.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>
                <td>@Html.ActionLink("Sil Butonu2", "SIL", new { a = musteri.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Silmek İstediğinize Emin Misini?')" })</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Musteriler/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>

