@using MvcStok.Models.Entity;
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="tab1" class="table table-bordered">
    <thead>
        <tr>
            <th>ÜRÜN ID</th>
            <th>ÜRÜN AD</th>
            <th>MARKA</th>
            <th>ÜRÜN KATEGORİ</th>
            <th>FİYAT</th>
            <th>STOK</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
                <th>@urun.URUNID</th>
                <td>@urun.URUNAD</td>
                <td>@urun.MARKA</td>
                <td>@urun.TBLKATEGORILER.KATEGORIAD</td>
                <td>@urun.FIYAT</td>
                <td>@urun.STOK</td>
                <td><a href="/Urunler/Sil/@urun.URUNID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Urunler/UrunGetir/@urun.URUNID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }

    </tbody>
</table>
<a href="/Urunler/YeniUrun/" class="btn btn-primary">Yeni Ürün Ekle</a>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script>
    $('#tab1').DataTable();
</script>
