@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*Guncell ActionResult Metodunun Adı
    Musteriler Klasörümüzün Adı
    Diğeride Formu Get Yada Post Metoduna Göre Çalıştırmak için*@

@using (Html.BeginForm("Guncelleme", "Urunler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.URUNID)
        @Html.TextBoxFor(m => m.URUNID, new { @class = "form-control"})
    </div>
    <div style="margin-top:15px">
        @Html.LabelFor(m => m.URUNAD)
        @Html.TextBoxFor(m => m.URUNAD, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        @Html.LabelFor(m => m.MARKA)
        @Html.TextBoxFor(m => m.MARKA, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        @Html.LabelFor(m => m.URUNKATEGORI)
        @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control"})
        @*@Html.TextBoxFor(m => m.URUNKATEGORI, new { @class = "form-control" })*@
    </div>
    <div style="margin-top:15px">
        @Html.LabelFor(m => m.FIYAT)
        @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        @Html.LabelFor(m => m.STOK)
        @Html.TextBoxFor(m => m.STOK, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-warning">Ürün Güncelle</button>
    </div>
}

